.realUserInputForm{
    width:45%;
    margin-left: 6.3%;
    color: black;
    /* background-image: linear-gradient(white, rgb(81, 0, 128)); */
    background-color: rgb(164, 181, 196);
    float: left;
    margin-top: 2%;
    border-radius: 3%;
    margin-bottom: 7%;
}
.submitButton{
    margin-left: 173px;
    width:250px;
}