.shortTerm-icon {
    height:150px;
    width:150px;
    margin-left: 38px;
}

.first-icon {
    float: left;
    margin-left: 350px;
    margin-right:150px;
    align-items: center;
}
.third-icon {
    float:left;
    margin-left: 350px;
    margin-right:180px;
    align-items: center;
}
h4{
    font-family: 'Andika New Basic', sans-serif;
    color: gray;

    }

@media only screen and (max-width:600px) { 
    .first-icon {
        margin-left: 0px;
     }
     .third-icon {
        margin-left: 0px;
     }

}