.nav-bar {
    background-color: white;
    width: 99%;
    display: flex;
    flex-direction: row;
}

.logo-title {
    margin-left:23px;
    margin-top:0px;
    color: gray;
}

.nav-brand {
    margin-left:10% ;
    
}

.nav-links {
 margin-left:35%;

}



    @media only screen and (max-width:600px) {
 
        .nav-brand {
            background-color: black;
            
        }
        .nav-bar{
            flex-direction: column;
        }
        .nav-links {
            display:inline
           
           }

      }